.login-space {
	height:100%;
	width: auto;
	border-left: 1px solid #868e96;
}

.login-space img {
	margin-left: 10px;
	border-radius: 10%;
}

.capitalize {
	text-transform: capitalize;
}


.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.card{
	width: 338px;
}

.pointer {cursor: pointer;}