.login-space {
	height:100%;
	width: auto;
	border-left: 1px solid #868e96;
}

.login-space img {
	margin-left: 10px;
	border-radius: 10%;
}

.login-space .rounded-square {
  margin-left: 10px;
  border-radius: 10%;
  text-align: center;
  height: 0;
  width: 100%;
  background: lightgrey;
  padding:0 16px 0 16px;
  font-size: 55px;
  font-weight: bold;
  &,
  > * {
    line-height: 0;
  }
}

/* -----------------------------------------------------------------------------------------------------\
	IGNORE THIS
\------------------------------------------------------------------------------------------------------*/
@include-grid:          true;
@include-grid-offset:   false;
@include-grid-pushpull: false;
@include-img:           false;
@include-box:           false;
@include-nav:           false;
@include-breadcrumb:    false;
@include-pagination:    false;
@include-options:       false;
@include-buttons:       false;
@include-tables:        false;
@include-mediaobject:   false;

@responsive:     true;
@responsive-bp2: true;
@responsive-bp3: false;
@responsive-bp4: false;
@responsive-bp5: false;

@bp1: 480;
@bp2: 768;
@bp3: 1024;
@bp4: 1280;
@bp5: 1600;

.login-space .col {
  .transition(all .2s ease);
}

.login-space .rounded-square {
  &:extend(.margin--bottom);
  color: white;
  &--primary {
    background: @color-primary;
  }
  &--warning {
    background: @color-warning;
  }
  &--danger {
    background: @color-danger;
  }
}


.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.card{
	width: 338px;
}

.pointer {cursor: pointer;}

.capitalize {
	text-transform: capitalize;
}

.zoom {
    transition: transform .2s; /* Animation */
    width: 38px;
    height: 64px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(5.5); 
}

.btn-fixed-size{
	min-width: 150px;
	max-width: 150px;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    opacity: 90%;
}

.snackbar.snackbar--primary{
    	background-color: #43A047; /* Black background color */
    	color: #fff; /* White text color */
    }
    
.snackbar.snackbar--danger{
    	background-color: #F44336; /* Black background color */
    	color: #fff; /* White text color */
    }
    
/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}